<h1>Tasks#index</h1>
<p>Tasks go here :</p>

<ul>
<% @tasks.each do |task| %>
  <li>
    <strong><%= link_to task.title, task_path(task) %></strong>
    <p><em><%= task.details %></em></p>
    <p><%= link_to 'Edit', edit_task_path(task) %></p>
    <p><%= link_to 'Delete', task_path(task),
                             method: :delete %></p>
  </li>
<% end %>
</ul>

<%= link_to 'New_Task', new_task_path %>
