<strong><%= link_to @task.title, task_path(@task) %></strong>
<p><em><%= @task.details %></em></p>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Delete', task_path(@task),
                         method: :delete %>
<%= link_to 'Back to Page', tasks_path %>
